In [1]:
import pandas as pd
import numpy as np
from sklearn.metrics import silhouette_score

In [2]:
df=pd.read_csv("analysis.csv")
df.head()

                         category_two             category_four  size
0  small and medium-sized enterprises  Medium-sized enterprises    50
1  small and medium-sized enterprises         Large enterprises   200
2  small and medium-sized enterprises         Large enterprises   200
3  small and medium-sized enterprises         Large enterprises   200
4  small and medium-sized enterprises         Small enterprises    10

In [3]:
df["size_log"]=np.log(df[["size"]])
silhouette_avg = silhouette_score(np.asarray(df["size_log"]).reshape(-1,1), np.array(df['category_two']))
print("Two Category Score: ",round(silhouette_avg,2))
silhouette_avg = silhouette_score(np.asarray(df["size_log"]).reshape(-1,1), np.array(df['category_four']))
print("Four Category Score: ",round(silhouette_avg,2))

Two Category Score:  0.57
Four Category Score:  0.55