In [3]:
import pandas as pd
import numpy as np
import os
from sklearn import metrics
import pickle
import scikitplot as skplt
import matplotlib
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt
from sklearn.metrics import roc_curve, auc
import autosklearn.classification
import warnings
from sklearn.cross_validation import train_test_split
warnings.simplefilter('ignore', DeprecationWarning)
warnings.simplefilter('ignore', RuntimeWarning)
warnings.filterwarnings("ignore",category=matplotlib.cbook.mplDeprecation)

In [11]:
df=pd.read_csv("data_linkedin_scrapped.csv")

label=LabelEncoder()
label.fit(df["Category"].unique())
df["category_encoded"]=label.transform(df["Category"])
label=LabelEncoder()
label.fit(df["size category"])
df["size_label"]=label.transform(df["size category"])
label=LabelEncoder()
label.fit(df["country_category"])
df["country_encoded"]=label.transform(df["country_category"])
df_model=df[["company","Rank","country_encoded","category_encoded","size_label"]]
feature=df_model.iloc[:,1:3]
target=df_model.iloc[:,3]

In [17]:
df_model.iloc[:,1:4]

     Rank  country_encoded  category_encoded
0     181                2                 0
1     164                2                 8
2     125                2                 0
3     153                2                 0
4     156                2                 0
5     114                2                 0
6     181                2                 0
7     186                2                 0
8     181                2                 9
9      50                2                 0
10    182                2                 0
11    188                2                 0
12    139                2                 0
13    153                2                 0
14     84                1                 0
15    182                2                 0
16    177                2                 0
17    150                2                 9
18    181                2                 9
19    164                2                 0
20    156                2                 0
21    174                2                 0
22    167                2                 4
23    167                2                 2
24    167                2                 4
25    150                2                 2
26    167                2                 4
27    167                2                 4
28    150                2                 4
29    150                2                 2
..    ...              ...               ...
172    84                1                 4
173   183                1                 4
174    85                0                 8
175   177                2                 8
176   153                2                 8
177   114                2                 8
178   134                1                 8
179   169                2                 8
180   102                2                 8
181   186                2                 8
182   147                1                 4
183   147                1                 4
184   147                1                 4
185   154                2                 2
186   186                2                 4
187   147                1                 4
188   175                1                 9
189   165                0                 5
190   165                0                 6
191   180                2                 7
192   188                2                 6
193   165                0                 7
194   157                2                 5
195   187                2                 5
196   167                2                 4
197   167                2                 4
198   167                2                 4
199   167                2                 4
200   150                2                 4
201   167                2                 4

[202 rows x 3 columns]